/* AppBar */
.navbar-appbar {
  background-color: #FFFEFC !important;
  color: #1c1c1c !important;
  padding-left: 24px;
  padding-right: 24px;
}

/* Toolbar */
.navbar-toolbar {
  width: 100%;
  justify-content: space-between;
}

/* Logo */
.navbar-logo {
  font-family: 'Playfair Display';
  font-weight: 700;
  text-decoration: none;
  color: #1c1c1c;
  padding-left: 24px;
  font-size: 1.25rem;
}

/* Nav Links */
.navbar-links {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-grow: 1;
}

.navbar-link-button {
  font-family: Montserrat;
  color: #900639;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: none;
  border: 2px solid transparent;
  border-radius: 999px;
  padding: 2px 10px;
  height: 36px;
  min-width: auto;
}

.navbar-link-button:hover {
  border: 2px solid #900639;
  background-color: #ffffff;
}

/* Icons */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 24px;
}

.navbar-icon-button {
  color: #900639;
  transition: transform 0.2s ease;
}

.navbar-icon-button:hover {
  transform: scale(1.2);
}

/* Badge */
.navbar-cart-badge .MuiBadge-badge {
  background-color: #900639;
  color: #fff;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 50%;
}

/* Login Button */
.navbar-login-button {
  font-family: Montserrat;
  font-weight: 600;
  text-transform: none;
  background-color: #900639;
  border-radius: 999px;
  padding: 2px 10px;
  height: 36px;
  font-size: 0.875rem;
  color: white;
}

.navbar-login-button:hover {
  background-color: #6d002e;
}

/* Drawer */
.navbar-drawer {
  width: 250px;
  background-color: #FFFEFC;
  height: 100%;
}

.navbar-drawer-link {
  font-family: Montserrat;
  color: #1c1c1c;
}

.navbar-drawer-link:hover {
  color: #900639;
}

.navbar-drawer-login {
  font-family: Montserrat;
  color: #900639;
  font-weight: 600;
  border: 2px solid #900639;
  border-radius: 999px;
  margin: 16px 16px 0 16px;
  justify-content: center;
  height: 36px;
}

.navbar-drawer-login:hover {
  background-color: #90063910;
}

/* Menu Button */
.navbar-menu-button {
  display: none;
  color: #1c1c1c;
  margin-left: 16px;
}

@media (max-width: 600px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu-button {
    display: block;
  }
}
